body{
    text-align:center;
    background: rgb(9,13,121);
    background: linear-gradient(90deg, rgba(9,13,121,1) 0%, rgba(251,245,245,1) 50%, rgba(255,0,0,1) 100%);
}
img{
    width:480px;
}
p{
    text-align: left;
}
h3{
    text-align: left;
}